@charset "utf-8";
@font-face {
	font-family: "Soho";
	src: url(fonts/SohoGothicPro-Light.otf) format("opentype");
}
body {
	font-family: soho;	
}

#header{
	margin: 0;
	min-height: 170px;
	background: #27272b;
	background: -moz-linear-gradient(top,  #27272b 0%, #000000 100%);
	background: -webkit-linear-gradient(top,  #27272b 0%,#000000 100%);
	background: linear-gradient(to bottom,  #27272b 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27272b', endColorstr='#000000',GradientType=0 );
}

.logo{
	margin: -6px 0;
	position: relative;
}
.foto{
	padding-top: 15px !important;
}
.foto img{

	
	
	transition: all 0.1 ease;
}
.foto img:hover{

	
	opacity: 0.8;
}
.tit-logo::after{
	content: "Federação de jiu-jitsu do estado de Santa Catarina";
	display: block;	
	margin-left: 240px;
	margin-top: 15px;
	padding: 0;
	line-height: 125%;
	color: #ffffff;
	font-size: 3.5em;
}

.bg-main{
	height: 130px;	
	margin-bottom: 20px;
	background-repeat: repeat-x;
}
.bg-main-1{
	background: url(../img/bg-main.jpg) repeat-x;
}
.bg-main-2{
	background: url(../img/bg-main2.jpg) repeat-x;
}
.bg-main-3{
	background: url(../img/bg-main3.jpg) repeat-x;
}
.bg-main-4{
	background: url(../img/bg-main4.jpg) repeat-x;
}
.navbar{
	height: 50px;
	background: none;
	border: none !important;
	box-shadow: none !important;
	margin: 0;
	padding: 0;
}
.barra-menu{	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.navbar-nav li a{
	color: #000 !important;
	transition: background 0.1s linear;
}
.navbar-nav li a:hover{
	text-decoration: none;
	color: #fff !important;	
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #e5322e 51%, #f02f17 71%, #e24846 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#e5322e 51%,#f02f17 71%,#e24846 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#e5322e 51%,#f02f17 71%,#e24846 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e24846',GradientType=0 ); /* IE6-9 */
	transition: background 0.1s linear;
}
footer .a{
	background: #0e0e0e;
	background: #e5322e;
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}


footer .a p{
	margin: 0;
	padding: 0;
}
footer .b{
	background: #212121;
	color: #fff;
}
footer .b p{
	padding: 10px 0px 10px 0px;
}
.box{
	margin: 0px 0 20px 0;	
}
.box h3{
	margin-bottom: 30px;
}
.box-video iframe{
	width: 100% !important;
	max-width: 480px;
	height: 205px;
}
.box-noticias{
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}
.box-noticias li{	
	padding: 12px;
	margin: 8px 0px 0px 0px;
	border-left: 1px solid #e5322e;
	border-width: 6px;
	
	color: #333 !important;
	transition: all 0.1s linear;	
}

.box-noticias li:hover{	
	border-left-color: #212121;
	background: #f2f2f2
	}

.box-noticias li:first-child:hover{
	text-decoration: none !important;

	
}

.row .atletas{
	margin-bottom: 20px;
	border-bottom: 1px solid #eee
}
.row .atletas:nth-child(3){
	border-right: 1px solid #333;
}
.letra{
	display: inline-table;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.letra:nth-child(odd){
	background: #fbfbfb;
}
.letra:hover{
	text-decoration: none;
	background: #ebebeb;
}
.lista-atletas, .lista-academias, .lista-noticias, .lista-videos, .lista-albuns{
	padding-top: 20px;
}
.lista-videos, .lista-albuns{
	padding-bottom: 15px;
}
.img-atleta, .dados-atleta, .img-academia, .dados-academia{
	display: inline-block;
	vertical-align:top;
}
.img-noticia{	
	float: left;
}
.img-atleta, .img-academia, .img-noticia{
	margin-right: 15px;
	margin-bottom: 10px;
	margin-bottom: 15px;	
}
.dados-atleta, .dados-academia{
	margin-bottom: 15px;
}
.nome-atleta, .nome-academia{
	font-weight: bolder;
	font-size: 19px;
}
.dados-noticia small{
	color: #999;
	font-weight: bolder;
	font-size: 14px;
	margin: 0;
}
.dados-noticia h4{
	color: #333;
}
.dados-noticia .bt-leia-mais{
	background: #e5322e;
	color: #fff;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	clear: both;
	display: inline-block;
}
.dados-noticia h2{	
	font-weight: bolder;
	margin-bottom: 15px;
}
.lista-videos{
	min-height: 340px;
}
.lista-videos iframe{
	width: 100%;
	display: block;
	max-width: 420px;
	height: 200px !important;
	margin-right: 15px;	
}
.lista-videos small, .lista-albuns small{
	display: block;
	color: #999;
}
.lista-videos p, .lista-albuns p{
	padding-top: 10px;
	font-size: 1.3em;
	font-weight: bolder;
}

.mais-noticias li a{
	color: #333;
	line-height: 180%
}
.info-contato{
	padding-top: 15px;
}
.img-thumbnail:hover{
	border-color: #999;
}

.error-message{
	background: red;
	color: #fff;
	padding: 2px;
	border-radius: 4px;
}

h1{
	color: #fff;
	font-size: 4em;
	padding: 6px 30px 15px 15px;
	border-radius: 5px;
	border-radius:2px 20px 2px 20px;
	background: #e5322e;
	width: auto;
	display: inline-block;
}
h2{
	font-size: 2.8em;
	font-weight: bolder;
	margin-top: 5px;
	color: #333;
}
h3{
	font-size: 2.2em;
	font-weight: bolder;
}

.bt-voltar{
	background: #e5322e;
	color: #fff;
	padding: 10px 15px 10px 15px;
	border-radius: 4px;
	clear: both;
	display: inline-block;
	margin-top: 30px;
}
.bt-voltar:hover{
	color: #fff;
	text-decoration: underline;
}

.pagination>li>a{
	color: #333;
}
.pagination>li>a:hover{
	color: #333;
	}
.pagination>.active>a{
	background: #e5322e;
	border-color:#e5322e
}
.pagination>.active>a:hover{
	background: #e5322e;
	border-color:#e5322e
}


@media(max-width:1199px){	
	.navbar-nav li a{
		padding: 15px 12px 15px 12px ;
	}
}
@media (max-width: 991px) { 
	.navbar-nav li a{
		padding: 15px 0px 15px 0px ;

	}
	.logo{
		display: none;
	}	
}

@media(max-width:767px){
	.navbar{
		height: 50px;
		margin: 0;
		padding: 0;
	}
	.logo{		
		z-index: 2
	}
	.navbar-collapse{
		position: relative;
		background: #e5322e;
		z-index: 9999;				
	}
	.navbar-nav li{
		border-bottom: 1px solid #666;			
	}	
	.navbar-nav li a{
		padding: 15px;
		color: #fff !important;
	}
	.navbar-nav li a:hover{
		background: #212121 !important;
	}
	.logo{
		margin: 0;
		width: 95%;
	}
	.tit-logo:after{
		content: "FESCJJ";
		font-size: 6em;
		margin: 20px 0 0 240px;		
	}
	h1{
		font-size: 3.2em
	}
	.img-noticia{
		float: none;
	}
	.lista-videos{
		min-height: 1px;
	}
	.lista-videos iframe{
		width: 100%
	}
	footer .col-xs-12{
	padding: 0px;
}
	
}
@media(max-width:480px){	
	.logo{
		margin: 20px 0px;
		width: 80%;
	}
	.tit-logo:after{
		font-size: 4em;
		margin: 35px 0 0 190px;
	}
	h1{
		font-size: 2.7em
	}	
}
